@import "~bootstrap/less/bootstrap";

body {
  padding: 0;
  margin: 0;
  background-color: #1a1826;
  color: #d9d2bf;
  cursor: default;
}

.slide {
  padding-top: 6em;

  h1 {
    font-size: 7em;
    text-align: center;
  }

  h2 {
    font-size: 5em;
    text-align: center;
  }
}

//https://color.adobe.com/Theme-3-color-theme-6556904/